# Configuration for Macocci7\PhpFrequencyTable\FrequencyTable

validColumns2Show:
- 'Class'
- 'Frequency'
- 'CumulativeFrequency'
- 'RelativeFrequency'
- 'CumulativeRelativeFrequency'
- 'ClassValue'
- 'ClassValue * Frequency'
- 'Subtotal'
- 'RelativeSubtotal'
- 'CumulativeRelativeSubtotal'

defaultColumns2Show:
- 'Class'
- 'Frequency'
- 'RelativeFrequency'
- 'ClassValue'
- 'ClassValue * Frequency'

defaultTableColumnAligns:
    'Class': ':---:'
    'Frequency': ':---:'
    'CumulativeFrequency': ':---:'
    'RelativeFrequency': ':---:'
    'CumulativeRelativeFrequency': ':---:'
    'ClassValue': ':---:'
    'ClassValue * Frequency': '---:'
    'Subtotal': '---:'
    'RelativeSubtotal': '---:'
    'CumulativeRelativeSubtotal': '---:'

lang: 'eng'

supportedLangs:
    'eng':
        'Class': 'Class'
        'Frequency': 'Frequency'
        'CumulativeFrequency': 'CumulativeFrequency'
        'RelativeFrequency': 'RelativeFrequency'
        'CumulativeRelativeFrequency': 'CumulativeRelativeFrequency'
        'ClassValue': 'ClassValue'
        'ClassValue * Frequency': 'ClassValue * Frequency'
        'Subtotal': 'Subtotal'
        'RelativeSubtotal': 'RelativeSubtotal'
        'CumulativeRelativeSubtotal': 'CumulativeRelativeSubtotal'
        'Total': 'Total'
        'Mean': 'Mean'
        'classRange': 'classRange'
        'data': 'data'
        'Max': 'Max'
        'Min': 'Min'
        'DataRange': 'DataRange'
        'Mode': 'Mode'
        'Median': 'Median'
        'MedianClass': 'MedianClass'
        'FirstQuartile': 'FirstQuartile'
        'ThirdQuartile': 'ThirdQuartile'
        'InterQuartileRange': 'InterQuartileRange'
        'QuartileDeviation': 'QuartileDeviation'
        'Classes': 'Classes'
        'Frequencies': 'Frequencies'
        'FrequencyTable': 'FrequencyTable'

    'ja':
        'Class': '階級'
        'Frequency': '度数'
        'CumulativeFrequency': '累積度数'
        'RelativeFrequency': '相対度数'
        'CumulativeRelativeFrequency': '累積相対度数'
        'ClassValue': '階級値'
        'ClassValue * Frequency': '階級値 × 度数'
        'Subtotal': '小計'
        'RelativeSubtotal': '相対小計'
        'CumulativeRelativeSubtotal': '累積相対小計'
        'Total': '合計'
        'Mean': '平均'
        'classRange': '階級幅'
        'data': 'データ'
        'Max': '最大値'
        'Min': '最小値'
        'DataRange': 'データ範囲'
        'Mode': '最頻値'
        'Median': '中央値'
        'MedianClass': '中央値階級'
        'FirstQuartile': '第一四分位数'
        'ThirdQuartile': '第三四分位数'
        'InterQuartileRange': '四分位範囲'
        'QuartileDeviation': '四分位偏差'
        'Classes': '階級'
        'Frequencies': '度数'
        'FrequencyTable': '度数分布表'

supportedFormats:
    'md': 'markdown'
    'csv': 'csv'
    'tsv': 'tsv'
    'html': 'html'

columnNumberFormat:
    'Frequency':
        decimals: 0
        decimal_separator: '.'
        thousands_separator: ','
    'CumulativeFrequency':
        decimals: 0
        decimal_separator: '.'
        thousands_separator: ','
    'RelativeFrequency':
        decimals: 2
        decimal_separator: '.'
        thousands_separator: ','
    'CumulativeRelativeFrequency':
        decimals: 2
        decimal_separator: '.'
        thousands_separator: ','
    'ClassValue':
        decimals: 1
        decimal_separator: '.'
        thousands_separator: ','
    'ClassValue * Frequency':
        decimals: 1
        decimal_separator: '.'
        thousands_separator: ','
    'Subtotal':
        decimals: 2
        decimal_separator: '.'
        thousands_separator: ','
    'RelativeSubtotal':
        decimals: 2
        decimal_separator: '.'
        thousands_separator: ','
    'CumulativeRelativeSubtotal':
        decimals: 2
        decimal_separator: '.'
        thousands_separator: ','
